@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    height: 142px;
    background-color: #000;
}

.wrap{
    width: 980px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

header .wrap h1{
    padding-top: 35px;
    border-bottom: 1px solid #666;
    padding-bottom: 8px;
}

.wrap ul:after{
    content: '';
    display: block;
    clear: both;
}

.gnb{
    position: relative;
}

.gnb li{
    float: left;
    color: #fff;
    padding:0 20px;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    line-height: 30px;
    margin-top: 10px;   
}

.gnb li:hover{
    background-color: #fff;
    color: #000;
}

.gnb li:last-child{
    color:yellow;
    float: right;
    padding: 0;
}

.gnb li:hover:last-child{
    background-color: transparent;
    color: yellow;
}

.sub_gnb{
    position: absolute;
    top: 60px;
    left: 296px;
}

.sub_gnb li{
    float: left;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    color: #fff;
}
.sub_gnb li:last-child{
    color:#00a44e;
}

.util{
    position: absolute;
    right: 0;
    top: 24px;
}

.util li{
    float: left;
    font-size: 12px;
    color: #c5c5c5;
    background-image: url(../images/utill_bar.jpg);
    background-repeat: no-repeat;
    padding-left: 7px;
    margin-right: 7px;
    background-position: 0 center;
    font-family: 'Nanum Gothic', sans-serif;
}


.util li:first-child{
    background-image: none;
}

/* 
.util li:after{
    content:'|';
    margin-left: 7px;
    margin-right: 7px; 
}

.util li:last-child{
    content: none;
}
*/
.searchBox{
    position: absolute;
    top: 55px;
    right: 0;
}

.searchBox input{
    width: 166px;
    height: 25px;
    background-color: transparent;
    border: 2px #fff solid;
    background-image: url(../images/back_src.jpg);
    background-repeat: no-repeat;
    background-position: right  5px center;
    /* background-position은 기본적으로
    background-position: x값 y값;
    background-position: right 10px top 20px; 
    ->오른쪽 끝에서 10px 떨어진 위치,
    위에서 20px 떨어진 위치*/
    color: #fff;
    padding-right: 20px;
}

.mv{
    position: relative;
}

.mvImg{
    background-image: url(../images/main_bn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mvImg a{
    display: block;
    height: 400px;
}

.mv .arrow{
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -50px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.pager ul{
    text-align: center;
    margin-top: 5px;
    font-size: 0;
}

.pager li{
    background-color:#c5c5c5;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
}

.row1{
    width: 940px;
    margin: 18px auto;
}

.row1 .con1:after{
    content: '';
    display: block;
    clear: both;
}

.row1 .con1 a:first-child{
    float: left;
}

.row1 .con1 a:last-child{
    float: right;
}

.row2{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.row2 .con2:after{
    content: '';
    display: block;
    clear: both;
}

.row2 .con2 li{
    float: left;
    margin-right: 10px;
}

.row2 .con2 li:last-child{
    margin-right: 0;
}

.row3{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}

.row3 .con3{
    width: 875px;
    margin-left: auto;
    margin-right: auto;
}

.row3 .con3:after{
    content: '';
    display: block;
    clear: both;
}

.row3 .con3 .box{
    width: 175px;
    height: 209px;
    float: left;
    position: relative;
}

.con3 .box a .num{
    position: absolute;
    top: 0;
    left: 0;
}

.con3 .box a .item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 
    position:absolute로
    항상 가운데 위치시키는 법
    1. top: 50% , left: 50%
    2. tranform:translate(-50%,-50%)

    -position:absolute를 쓰지않으면 안될 상황에서만 사용
    */
}

.con3 .box .txtBox{
    width: 100%;
    font-size: 14px;
    color: #363636;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.row3 .arrBtn{
    width: 940px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -14px;
}
.row3 .arrBtn:after{
    content: '';
    display: block;
    clear: both;
}
.row3 .arrBtn .prev{
    float: left;
}

.row3 .arrBtn .next{
    float: right;
}
.row4{
    width: 940px;
    margin: 20px auto;

}

.row5{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.con5:after{
    content: '';
    display: block;
    clear: both;
}

.row5 .con5 div{
    float: left;
    position: relative;
    padding-right: 7px;
}

.row5 h3{
    margin-bottom: 20px;
}

.con5 .news{
    width: 225px;
    background-image: url(../images/ico_news.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 80px;
}

.news li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.con5 .member{
    width: 185px;
    background-image: url(../images/ico_membership.jpg);
    background-repeat: no-repeat;
    background-position: 35px center;
    padding-left: 120px;
}

.con5 .member p{
    width: 130px;
}

.con5 .cs{
    width: 205px;
    background-image: url(../images/ico_cscenter.jpg);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 100px;
}

.con5{
    font-size: 14px;
}

/* css로 가상 html엘리멘트를 만들어서
    장식적인 요소 추가하기 -> 
    해당요소:after{content:'';} 마지막자식으로 추가됨
    해당요소:before{content:'';} 첫번째자식으로 추가됨
    
    기본적으로 가상요소들은 인라인요소이므로,
    사용용도에 따라 display:block으로 변경해주어야 한다.
    */
.con5 div:after{
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #666;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
}

.con5 div:last-child:after{
    content: none;
}

.subBn2{
    background-color: #f2f2f2;
}

.subBn2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: #000;
    padding-bottom: 30px;
}

.fWrap{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.fWrap h1{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c5c5c5;
}

.fWrap .util1{
    position: absolute;
    top: 30px;
    left: 250px;
}

.fWrap .util1:after{
    content: '';
    display: block;
    clear: both;
}

.fWrap .util1 li{
    float: left;
    font-size: 12px;
    color: #fff;
    margin-right: 20px;
}

.sns:after{
    content: '';
    display: block;
    clear: both;
}

.sns li{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.survice{
    color: #fff;
    border: #fff 2px solid;
    padding: 10px;
    width: 170px;
    font-size: 14px;    
    margin-top: 10px;
    text-align: center ;
}

address{
    color: #666;
    font-style: normal;
    font-size: 12px;
    position: absolute;
    top: 100px;
    left: 220px;
}

.fWrap .copy{
    color: #fff;
    font-size: 12px;
    padding-left: 220px;
}