@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  border-top: 2px #50b5ff solid;
}

header {
  width: 1092px;
  height: 57px;
  margin: 0 auto;
  /* 
    margin-top:0;
    margin-bottom:0;

    margin-right: auto;
    margin-left: auto;
     */
  position: relative;
} /*header*/

h1 {
  padding-top: 10px;
}
.gnb {
  position: absolute;
  top: 20px;
  left: 208px;
}
.gnb li {
  float: left;
  margin-left: 50px;
}

.search input {
  width: 180px;
  height: 26px;
  border: 1px solid #ccc;
  padding-left: 8px;
  box-sizing: border-box;
  /* 지정된 너비, 높이 안에
    패딩과 보더를 포함시킴
    */
}

.search {
  position: absolute;
  top: 15px;
  right: 150px;
}

.loginBox {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 14px;
}
.loginBox button {
  width: 64px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 0;
  color: #fff;
}

.loginBox .login {
  background-color: #f49600;
}

.loginBox .join {
  background-color: #50b5ff;
}

.mv {
  background-color: turquoise;
  background-image: url(../images/key_bg.jpg);
  height: 454px;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: #fff;
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
}

.mv .txt {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 14px;
  font-weight: bold;
}

.mv .searchBox {
  background-color: rgba(0, 0, 0, 0.7);
  width: 560px;
  height: 100px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 20px;
  /* padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px; */

  /* 
    margin: 60px auto 0;
           상    좌우   하
    */
}

.mv input {
  width: 560px;
  height: 50px;
  border: 0;
  padding-left: 20px;
  box-sizing: border-box;
}

.mv .inputBox {
  position: relative;
}
.mv .inputBox button {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.mv .txtBox {
  color: #fff;
  font-size: 12px;
}

.mv .txtBox:after {
  content: "";
  clear: both;
  display: block;
}

.mv .txtBox p:first-child {
  float: left;
}

.mv .txtBox p:first-child a:hover {
  text-decoration: underline;
}

.mv .txtBox p:last-child {
  float: right;
}

.s1 {
  margin-bottom: 50px;
}
.s1 h3 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 26px;
  color: #333;
  text-align: center;
}

.s1 .con {
  margin-left: auto;
  margin-right: auto;
  width: 1092px;
}
.s1 .con:after {
  content: "";
  clear: both;
  display: block;
}
.s1 .con .box {
  float: left;
  width: 348px;
  margin-right: 24px;
}

.s1 .con .box:last-child {
  margin-right: 0;
}

.s1 .con .box h4 {
  text-align: center;
  color: #0087ea;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 22px;
}

.s1 .box img {
  transition: all 0.6s;
}

.s1 .box img:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  /* box-shadow: x값 y값 번짐(크기) 색상*/
}

.ask {
  text-align: center;
  color: #f49600;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 25px;
}

/* section2 */
.s2 {
  padding: 50px;
  background-color: #f0f0f0;
  padding-bottom: 70px;
}
.s2 h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #333;
}

.s2 > p {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.s2 .con {
  width: 1092px;
  margin-left: auto;
  margin-right: auto;
}
.s2 .con:after {
  content: "";
  display: block;
  clear: both;
}

.s2 .con .box {
  width: 348px;
  height: 300px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
  background-color: #fff;
}

.s2 .con .box:nth-child(3),
.s2 .con .box:nth-child(6) {
  margin-right: 0;
}
.s2 .con .box .photo {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.s2 .con .box .photo img {
  width: 100%;
  height: 100%;
  transition: all 1.5s;
}

.s2 .con .box:hover img {
  transform: scale(1.5);
}
.s2 .con .box .photo .tit {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  text-indent: 15px;
  width: 100%;
  height: 48px;
}
.s2 .con .box .photo .tit .date {
  color: #179dff;
}
.s2 .con .box .photo .tit .date span {
  color: #999;
}
.s2 .con .box .photo .tit h4 {
  color: #fff;
}
.s2 .con .box .txt {
  position: relative;
}
.s2 .con .box .txt .count {
  position: absolute;
  right: 10px;
  top: 10px;
}

.s2 .con .box .txt .count:after {
  content: "";
  clear: both;
  display: block;
}

.s2 .con .box .txt .count li {
  float: left;
  margin-right: 10px;
}

.s2 .con .box .txt .count li:first-child {
  background-image: url(../images/icon_spot.png);
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: 0 center;
}

.s2 .con .box .txt .count li:nth-child(2) {
  background-image: url(../images/icon_view.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 0 center;
}

.s2 .con .box .txt .count li:last-child {
  background-image: url(../images/icon_copy.png);
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: 0 center;
}

.s2 .con .box .txt .list {
  color: #6f6f6f;
  margin-left: 15px;
  margin-top: 15px;
}

.s2 .con .box .txt .list li {
  margin-bottom: 3px;
}

.s2 .con .box .txt .list .user {
  background-image: url(../images/icon_user.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 0 center;
}

.s2 .more {
  width: 348px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #666;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.s3 {
}

.s3 h3 {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
  padding-top: 70px;
  text-align: center;
}

.s3 > p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}

.con1 {
  width: 1092px;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  width: 538px;
  height: 310px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.box1:hover img,
.box2:hover img {
  transform: scale(1.5);
}

.box1 img,
.box2 img {
  transition: all 1.5s;
}

.box1 .photo1,
.box2 .photo1 {
  overflow: hidden;
}

.box1 .photo1 {
  position: relative;
}

.box1 .photo1 img {
  width: 100%;
  height: 159px;
}

.box1 .photo1 p {
  background-image: url(../images/spot_cnt.png);
  background-repeat: no-repeat;
  padding-left: 25px;
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}

.box1 .txt {
  font-size: 14px;
  color: #666;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.box1 .txt h4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.box2 {
  width: 261px;
  height: 310px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.box2 .photo1 {
  position: relative;
}

.box2 .photo1 img {
  width: 100%;
  height: 159px;
}

.box2 .photo1 p {
  background-image: url(../images/spot_cnt.png);
  background-repeat: no-repeat;
  padding-left: 25px;
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}

.box2 .txt {
  font-size: 14px;
  color: #666;
  text-align: center;
  padding: 0 15px;
}

.box2 .txt h4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.con1:after {
  content: "";
  display: block;
  clear: both;
}

.box1 {
  float: left;
}

.box2 {
  float: left;
}

.con1 .box1 {
  margin-right: 16px;
  margin-bottom: 16px;
}

.con1 .box1:last-child {
  margin-right: 0;
}

.con1 .box2 {
  margin-right: 16px;
  margin-bottom: 16px;
}

.con1 .box2:nth-child(3) {
  margin-right: 0;
}

.s3 .more {
  width: 348px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #666;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

/* padding : 상 우 하 좌 ;*/

.s4 {
  background-color: #f0f0f0;
  padding-top: 70px;
  padding-bottom: 100px;
}

.s4 h3 {
  font-size: 26px;
  color: #333;
  text-align: center;
  padding-bottom: 30px;
}

.section {
  width: 1092px;
  margin-left: auto;
  margin-right: auto;
}

.photo2 img {
  width: 260px;
  height: 260px;
}

.photo2:first-child img {
  width: 538px;
  height: 260px;
}

.photo2 {
  float: left;
  margin-right: 17px;
  margin-bottom: 17px;
}

.photo2:last-child {
  margin-right: 0;
}

.s4 p {
  color: #fff;
  font-weight: bold;
  top: 0;
}

.box3 .photo3 {
  width: 260px;
  height: 260px;
  margin-bottom: 17px;
}

.con3:after {
  content: "";
  display: block;
  clear: both;
}

.box3 {
  float: left;
  margin-right: 17px;
}

.box4 {
  float: left;
}

.box4 img {
  width: 260px;
  height: 538px;
}

.s4 div {
  position: relative;
}

.s4 p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

/* 
text-shadow: 가로이동 세로이동 번짐 색깔;
*/

.s5 {
  background-image: url(../images/mobile_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
}

.s5 .container {
  width: 1092px;
  margin-left: auto;
  margin-right: auto;
}

.s5 .container:after {
  content: "";
  display: block;
  clear: both;
}

.box5 {
  float: left;
}

.box6 {
  float: right;
}

.box6 h4 {
  color: #0083e3;
  font-weight: bold;
  font-size: 26px;
}

.box6 p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.s5 ul:after {
  content: "";
  display: block;
  clear: both;
}

.s5 li {
  float: left;
  margin-right: 10px;
}

footer {
  background-color: #363c48;
}

.fWrap {
  width: 1092px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fWrap:after {
  content: "";
  display: block;
  clear: both;
}

.fWrap .box7 {
  width: 260px;
  float: left;
  margin-right: 15px;
}

.fWrap .box7:last-child {
  margin-right: 0;
  margin-top: 20px;
}

.fWrap h4 {
  color: #ccc;
  font-size: 14px;
  border-bottom: solid 1px #424753;
  padding-bottom: 2px;
}

.fWrap p {
  color: #fff;
  font-size: 12px;
  margin-top: 8px;
}

.box7 .txt:after {
  content: "";
  display: block;
  clear: both;
}

.box7 .txt a {
  width: 113px;
  border: solid 1px #424753;
  color: #ccc;
  font-size: 12px;
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 4px;
  background-image: url(../images/arr_sel.png);
  background-repeat: no-repeat;
  background-position: 90px center;
}

.box7 ul:after {
  content: "";
  display: block;
  clear: both;
}

.box7 ul li {
  float: left;
  margin-right: 20px;
}

.copy {
  background-color: rgba(0, 0, 0, 0.2);
}

.copy .wrap {
  width: 1092px;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.copy .wrap:after {
  content: "";
  display: block;
  clear: both;
}

.copy .wrap p {
  float: left;
}

.copy .wrap address {
  float: right;
  font-style: normal;
}

/*
s3내부 박스들 인터랙션 구현
*/

.s3 .con1 > div {
  transform: translateY(40px);
  opacity: 0;
  transition: all 1s;
}

.s3 .con1 > div.on {
  opacity: 1;
  transform: translateY(0);
}
