/* reset */

@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 
항상 제일꼭대기에 있어야 함 
마지막 세미콜론 꼭!!!
*/


*{margin: 0; padding: 0;}
a{
    color: inherit;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}

ul{
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

header .wrap{
    width: 980px;
    height: 96px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}



h1{
    padding-top: 35px;
}

.gnb:after{
    content: '';
    display: block;
    clear: both;
}

.gnb{
    position: absolute;
    top: 45px;
    right: 0;
}

.gnb li{
    float: left;
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #363636;
}

.gnb li:hover{
    color: #3badb5;
}

.util:after{
    content: '';
    display: block;
    clear: both;
}

.util li{
    color: #666;
}

.util{
    position: absolute;
    top: 10px;
    right: 0;
}

.util li{
    float: left;
    margin-left: 14px;
    font-size: 12px;
    font-weight: bold;
}



.util li:first-child{
    background-image: url(../images/ico_language.png);
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position: 0 center;
    /* background-position : 가로 세로 */
}

.util li:last-child{
    color: #3badb5;
}

.util li:after{
    content: '|';
    margin-left: 7px;
}

.util li:last-child:after{
    content: none;
}
.util li:first-child:after{
    content: none;
}

.mv{
    height: 565px;
    background-image: url(../images/main_visual_01.jpg);
    background-position: cover;
    background-repeat: no-repeat;

}

.mv .box{
    font-size: 0;
    text-align: center;
    padding-top: 520px;
}

.mv .box .box1{
    width: 18px;
    height: 18px;
    background-color: #666;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
}

.mv .box .box1:hover{
    background-color: rgb(59, 59, 170);
}

.con{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
}

.con:after{
    content: '';
    display: block;
    clear: both;
}

.con1{
    float: left;
    margin-right: 22px;
}

.con1:last-child{
    margin-right: 0;
}

.section{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.section h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    color: rgb(240, 133, 11);
}

.sec:after{
    content: '';
    display: block;
    clear: both;
}

.sec ul{
    float: left;
    margin-right: 22px;
}

.sec ul:last-child{
    margin-right: 0;
}

.sec ul li{
    margin-bottom: 22px
}

footer{
text-align: center;
background-color:#32404d;
}






